@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Barlow:ital,wght@1,300&family=Bebas+Neue&family=Belanosima&family=Nunito:ital,wght@1,300&family=Raleway&family=Roboto+Condensed:ital@1&family=Teko&display=swap');



.LogInPage{

    width: 1440px; 
    height: 850px;
    top: 45px;
    left:170px;
    position: relative; 
    background: white;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}


.Group1{
  width:50%;
  width: 670px;
  height: 736.06px;
  position: relative;
  
}

.LoginLogo{
    left: 458px;
    top: 0px;
    position: absolute;
    color: #0D30AC; 
    font-size: 80px; 
    font-family: Raleway;
    font-weight: 600;
    word-wrap: break-word;
}

.Group2{
    width: 473px;
    height: 497.53px;
    left: 0px;
    top: 238.53px; 
    position: absolute;
}

.Group3{
    width: 473px;
    height: 308px;
    left: 0px;
    top: 0px; 
    position: absolute;
}

.LoginFrame{
   width: 220px;
   height: 57px; 
   padding-left: 54px; 
   padding-right: 54px; 
   padding-top: 16px; 
   padding-bottom: 16px; 
   left: -0px;
   top: 253.13px;
   position: absolute; 
   background: #0D30AC; 
   border-radius: 8px; 
   justify-content: center; 
   align-items: center; 
   gap: 24px; 
   display: inline-flex;
}

.LogInButton{
    text-align: center; 
    color: white; 
    font-size: 20px; 
    font-family: Raleway; 
    font-weight: 600; 
    word-wrap: break-word;
}

.FrameArrow{
    width: 16px;
    height:16px;
    position: relative;
    left : 20px;
}

/* .VectorArrow{
    width: 10px; 
    height: 10px; 
    left: 3px; 
    top: 3px; 
    position: absolute; 
    background: white;
} */

.RegisterHere{
    width: 200px; 
    height: 41.86px; 
    left: 277px; 
    top: 260.11px; 
    position: absolute; 
    text-align: center; 
    color: #0D30AC; 
    font-size: 18px; 
    font-family: Raleway; 
    font-weight: 600; 
    word-wrap: break-word;
}

.Group4{
    width: 470px; 
    height: 217.25px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.PasswordGroup{
    width: 470px; 
    height: 96.67px; 
    left: -0px; 
    top: 120.58px; 
    position: absolute;
}

.Password{
width: 110px; 
height: 24.91px; 
left: 0px; 
top: 0px; 
position: absolute; 
color: #0D30AC; 
font-size: 24px; 
font-family: Raleway; 
font-weight: 600; 
line-height: 25px; 
word-wrap: break-word
}

.PasswordInputGroup{
    width: 470px; 
    height: 55.81px; 
    left: 0px; 
    top: 40.86px; 
    position: absolute
}

.InputRectangle{
    width: 470px; 
    height: 55.81px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: #F8F8F8; 
    border-radius: 8px;
    padding-left: 60px;
    
}



.SecurityShield{
    width: 32px; 
    height:31.89px; 
    left: 24px; 
    top: 11.96px; 
    position: absolute; 
    
}


.MdiEyeOff{
    width: 24px; 
    height: 23.92px; 
    left: 490px; 
    top: 15.94px; 
    position: absolute;
}

/* .VectorEye{
    width: 22px; 
    height: 18.93px; 
    left: 1px; 
    top: 2.99px; 
    position: absolute; 
    background: #B4B4B4;
} */

.EmailGroup{
    width: 470px; 
    height: 96.67px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.Email{
    width: 64px; 
    height: 24.91px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    color: #0D30AC; 
    font-size: 24px; 
    font-family: Raleway; 
    font-weight: 600; 
    line-height: 25px; 
    word-wrap: break-word;
}

.EmailInputGroup{
    width: 470px; 
    height: 55.81px; 
    left: -0px; 
    top: 40.86px; 
    position: absolute;
}

.SecuredLetter{
       
    width: 32px; 
    height: 31.89px; 
    left: 24px; 
    top: 11.96px; 
    position: absolute;
    
}

.OtherLoginGroup{
    width: 390px; 
    height: 134.92px; 
    left: 33px; 
    top: 362.61px; 
    position: absolute;
}

.OrFrame{
    width: 231px; 
    height: 28px; 
    left: 89px; 
    top: 0px; 
    position: absolute; 
    justify-content: center; 
    align-items: center; 
    gap: 16px; 
    display: inline-flex;
}

.Line{
    width: 86px; 
    height: 0px; 
    border: 2.50px #E8DEFF solid;
}

.Or{
    color: #0D30AC; 
    font-size: 24px; 
    font-family: Raleway; 
    font-weight: 500; 
    word-wrap: break-word;
}

.APILoginGroup{
    width: 390px;
    height: 59px; 
    left: 0px; 
    top: 75.92px;
    position: absolute
}

.FacebookFrame{
    width: 176px; 
    height: 59px; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    left: 214px; top: 0px; 
    position: absolute; 
    border-radius: 8px; 
    border: 0.50px rgba(97, 77, 143, 0.25) solid; 
    justify-content: center; 
    align-items: center; 
    gap: 16px; 
    display: inline-flex;
}

.FacebookImage{
    width: 35px; 
    height: 35px;

}

.Facebook{
    color: #614D8F; 
    font-size: 20px; 
    font-family: Raleway; 
    font-weight: 600; 
    word-wrap: break-word;
}

.GoogleFrame{
    width: 152px; 
    height: 59px; 
    padding-left: 16px; 
    padding-right: 16px; 
    padding-top: 12px; 
    padding-bottom: 12px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    border-radius: 8px; 
    border: 0.50px rgba(97, 77, 143, 0.25) solid; 
    justify-content: center; 
    align-items: center; 
    gap: 16px; 
    display: inline-flex;
}

.GoogleImage{
    width: 35px; 
    height: 35px;
}

.Google{
    color: #614D8F; 
    font-size: 20px; 
    font-family: Raleway; 
    font-weight: 600; 
    word-wrap: break-word;
}



.IcBaselineSearch{
    width: 36px; 
    height: 36px; 
    left: 1035px; 
    top: 41px; 
    position: absolute;
}

.ForgotPassword{
    left: 385px; 
    top: 395px; 
    position: relative; 
    color: #0D30AC; 
    font-size: 18px; 
    font-family: Raleway; 
    font-weight: 500;
    word-wrap: break-word;
}

.ShapeGroup{
   
    width: 600px; 
    height: 600px; 
    left: 600px; 
    top: 170px; 
    position: absolute;
}

.Ellipse3{
    width: 600px; 
    height: 600px; 
    left: 0px;
    top: 0px; 
    position: absolute; 
    background: rgba(217, 217, 217, 0); 
    border-radius: 9999px; 
    border: 0.50px #D9D9FF solid;
}

.Ellipse2{
    width: 496px; 
    height: 496px; 
    left: 56px; 
    top: 48px; 
    position: absolute; 
    background: linear-gradient(180deg, #F3F3FF 0%, rgba(243, 243, 255, 0) 100%);
    border-radius: 9999px;
}


.Ellipse2{ 
    width: 496px; 
    height: 496px; 
    left: 56px; 
    top: 48px; 
    position: absolute; 
    background: linear-gradient(180deg, #F3F3FF 0%, rgba(243, 243, 255, 0) 100%, #F3F3FF 100%); 
    border-radius: 9999px;
}

.PeopleImage{
    width: 523px; 
    height: 523px; 
    left: 639px; 
    top: 200px; 
    position: absolute;
}
